@import url("https://fonts.googleapis.com/css?family=Tinos");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Wendy+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.homepage-container {
  display: grid;
  grid-template-columns: 38% 38% auto;
  background: #2196f3;
  margin: 0 auto;
}

.homepage-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
}

.grid-3-cols {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-2-cols {
  grid-column-start: 1;
  grid-column-end: 3;
}

.big-heading {
}

.mainpage {
}

/*TOP SINGLE NEWS IN MAINPAGE*/
.top-singlenews {
  display: flex;
  flex-wrap: wrap;
}

.single-news {
  display: flex;
}

.big-news-container {
  min-width: 10%;
  width: 620px;
  height: 450px;
  background-color: white;
  border: 1px solid gray;
  position: relative;
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
  float: left;
  margin: 20px;
}

.big-news-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}

.big-news-detail {
  position: absolute;
  top: 50%;
  z-index: 2;
  padding: 10px 10px 0 10px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
  font-family: "Wendy One", sans-serif;
  font-size: 20px;
}

.big-news-detail-category {
  padding-bottom: 5px;
  letter-spacing: 3px;
}

.big-news-detail-title {
  font-size: 40px;
  padding-bottom: 10px;
}

.big-news-detail-btn-read {
}

.picture-zoom:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.single-news-container {
  min-width: 10%;
  width: 290px;
  height: 450px;
  background-color: white;
  border: 1px solid gray;
  position: relative;
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
  float: left;
  margin: 20px;
}

.single-news-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
  object-fit: cover;
}

.single-news-detail {
  position: absolute;
  top: 60%;
  padding: 10px 10px 0 10px;
}

.single-news-detail-category {
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.single-news-detail-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

.zoom:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

/* Popular news */

.popular {
  font-family: "Merriweather", serif;
  margin: 0 auto;
}

.popular-heading {
  text-align: center;
}

.popular-news {
  display: flex;
  padding: 0 0 30px 0;
}

.popular-news-number {
  font-size: 32px;
  padding: 0 20px 0 10px;
}

.popular-news-content > span {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.popular-news-content {
  display: inline;
}

.popular-news-heading {
  font-weight: bold;
  font-size: 18px;
}

.popular-news-author {
  display: block;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.popular-news-heading a:hover {
  color: rgb(8, 86, 155);
}
