/* Login Area */

.login_area {
    display: block;
    overflow: hidden;
    background: #f3f3f3;
    padding: 105px 0 140px;
}

.login_area .login_inner {
    max-width: 832px;
    margin: 0 auto;
    background: #fff;
    padding: 80px 100px;
}

.login_area .login_inner .login_from .form-group {
    margin-bottom: 30px;
}

.login_area .login_inner .login_from .form-group .form-control {
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border: 1px solid #eeeeee;
    font: 400 16px/58px "Lato", sans-serif;
    color: #a5a5a5;
    height: auto;
    padding: 0 30px;
}

.login_area .login_inner .login_from .form-group .form-control.placeholder {
    color: #a5a5a5;
}

.login_area .login_inner .login_from .form-group .form-control:-moz-placeholder {
    color: #a5a5a5;
}

.login_area .login_inner .login_from .form-group .form-control::-moz-placeholder {
    color: #a5a5a5;
}

.login_area .login_inner .login_from .form-group .form-control::-webkit-input-placeholder {
    color: #a5a5a5;
}

.login_area .login_inner .login_from .form-group .form-control:focus {
    border-color: #2b00f7;
}

.login_area .login_inner .login_from .form-group .form-control:focus.placeholder {
    color: transparent;
}

.login_area .login_inner .login_from .form-group .form-control:focus:-moz-placeholder {
    color: transparent;
}

.login_area .login_inner .login_from .form-group .form-control:focus::-moz-placeholder {
    color: transparent;
}

.login_area .login_inner .login_from .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
}

.login_area .login_inner .login_from .form-group .defult_btn {
    font: 500 16px/55px "Poppins", sans-serif;
    border: 0;
    font-size: 16px;
    background: #f09d21;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: block;
}

.login_area .login_inner .login_from .form-group .defult_btn:hover,
.login_area .login_inner .login_from .form-group .defult_btn:focus {
    background: #2b00f7;
}

.login_area .login_inner .login_from .form-group.larg_btn {
    margin-top: 10px;
    padding-bottom: 7px;
}

.login_area .login_inner .login_from .form-group .reset_btn {
    font: 400 16px/55px "Lato", sans-serif;
    color: #7f7f7f;
    width: 100%;
    text-align: center;
    background: #f5f5f5;
    display: block;
}

.login_area .login_inner .login_from .form-group .reset_btn:hover,
.login_area .login_inner .login_from .form-group .reset_btn:focus {
    background: #2b00f7;
    color: #fff;
}

.login_area .login_inner .login_from .form-group .google_btn {
    font: 400 16px/55px "Poppins", sans-serif;
    color: #7f7f7f;
    width: 100%;
    text-align: center;
    border: 1px solid #2b00f7;
    display: block;
}

.login_area .login_inner .login_from .form-group .google_btn img {
    padding-right: 20px;
}

.login_area .login_inner .login_from .form-group .google_btn i {
    font-size: 24px;
    padding-right: 16px;
    position: relative;
    top: 3px;
}

.login_area .login_inner .login_from .form-group .google_btn:hover,
.login_area .login_inner .login_from .form-group .google_btn:focus {
    background: #2b00f7;
    color: #fff;
}

.login_area .login_inner .login_from h4 {
    font: 400 16px/1 "Source Sans Pro", sans-serif;
    color: #7f7f7f;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 35px;
}

.login_area .login_inner .login_from .custom-checkbox {
    margin: 0;
    margin-top: 15px;
}

.login_area .login_inner .login_from .custom-checkbox .custom-control-label {
    font: 400 16px/30px "Source Sans Pro", sans-serif;
    color: #7f7f7f;
    padding-left: 25px;
}

.login_area .login_inner .login_from .custom-checkbox .custom-control-label a {
    color: #2b00f7;
}

.login_area .login_inner .login_from .custom-checkbox .custom-control-label:before {
    height: 22px;
    width: 22px;
    border: 1px solid #d8d6d6;
    border-radius: 0;
    background-color: #fff;
}

.login_area .login_inner .login_from .custom-checkbox .custom-control-label:after {
    height: 22px;
    width: 22px;
}

.login_area .login_inner .login_from .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background: url("../images/check.png") no-repeat center;
}

.form-group {
    margin-bottom: 30px;
}


/* End Login Area */