@import url("https://fonts.googleapis.com/css?family=Tinos");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Merriweather");

.homepage-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  background: #2196f3;
  padding: 10px;
}

.homepage-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}

.big-heading {
  grid-column-start: 1;
  grid-column-end: 4;
}

.single-news {
  grid-column-start: 1;
  grid-column-end: 4;
}

.single-news > div,
h1,
img {
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  width: 100%;
  font-family: "Tinos", serif;
  letter-spacing: 0.5px;
}

.news-picture {
  width: 100%;
  max-width: 800px;
}

.single-news > span {
  font-style: italic;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.news-content > div {
  padding: 30px 0 0 0;
  word-spacing: 7px;
  font-size: 21px;
  margin: 0 auto;
}

.news-excerpt {
  font-size: 21px;
  color: RGB(0, 0, 0, 0.4);
  text-align: left;
}

.news-picture-title {
  text-align: center;
  margin: 10px auto 0;
}

.news-author {
  padding: 30px 0 50px 0;
  font-family: "Raleway", sans-serif;
}

.author-avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 20px 0 0;
  border-radius: 40px;
  border: 1px solid black;
}

.author-text {
  letter-spacing: 1px;
  color: RGB(0, 0, 0, 0.8);
}

.author-date {
  display: block;
}
